.form-container {
  display: flex;
  grid-gap: 3%;
}
form {
  padding-left: 2.5rem;
}

.input1 {
  height: 1rem;
  width: 38.5rem;
  padding: 1rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.input2 {
  height: 1rem;
  width: 8.5rem;
  padding: 1rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}
